<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" type="text/css" href="../public/stylesheets/home_page.css">
    <style>
       
    </style>
</head>
<body>
    <ul>
        <li><a href="#" class="aligntextleft">NFL Tracker</a></li>
        <li><a href="#" class="aligntextright">Home</a></li>
        <li><a href="/login" class="aligntextright">Log In</a></li>
        <li><a href="#about" class="aligntextright">About</a></li>
    </ul>
    <div class="hero-image">
        <div class="hero-text">
            <h2>NFL Tracker</h2>
            <h3>Start Looking at Stats</h3>
            <button>Sign up</button>
        </div>
    </div>

    <div class="aboutus">
        <div class="column">
            <p>Hello</p>
            <p>Helol</p>
        </div>
        <div class="column">
            <p>Test2</p>
        </div>
        <div class="column">
            <p>test3</p>
        </div>
    </div>



</body>
</html>


