<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" type="text/css" href="../public/stylesheets/home_page.css">
</head>
<body>
    <ul>
        <li><a href="#" class="aligntextleft">NFL Tracker</a></li>
        <li><a href="#" class="aligntextright">Home</a></li>
        <li><a href="/login" class="aligntextright">Log In</a></li>
        <li><a href="#about" class="aligntextright">About</a></li>
    </ul>
    <div class="hero-image">
        <div class="hero-text">
            <h2>NFL Tracker</h2>
            <h3>Start Looking at NFL Player Stats</h3>
            <button>Sign up</button>
        </div>
    </div>

    <div class="aboutus">
        <div class="column">
            <img src="https://img.icons8.com/ios-glyphs/50/000000/about.png"/>
            <p>About</p>
            <p>NFL Tracker is all about keeping up to date with new and old players stats. Keeping track of their current season touchdowns,passing,rushing yards NFL tracker keeps tracks of every player in the NFL and their stats. </p>
        </div>
        <div class="column">
            <img src="https://img.icons8.com/ios-filled/50/000000/hammer.png"/>
            <p>Built</p>
            <p>NFL Tracker is built with NodeJS, Express, HTML/CSS, SQLite</p>
        </div>
        <div class="column">
            <img src="https://img.icons8.com/ios-filled/100/000000/api-settings.png"/>
            <p>API</p>
            <p>NFL Tracker is built with the following API
                https://gist.github.com/nntrn/ee26cb2a0716de0947a0a4e9a157bc1c#teams-1
            </p>
        </div>
    </div>


    <footer>
        <a href="https://icons8.com/icon/8064/hammer">Hammer icon by Icons8</a>
        <a href="https://icons8.com/icon/59719/about">About icon by Icons8</a>
        <a href="https://icons8.com/icon/21893/rest-api">Rest API icon by Icons8</a>
    </footer>


</body>
</html>


