<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" type="text/css" href="../public/stylesheets/home_page.css">
    <style>
       
    </style>
</head>
<body>
    <h1>HEllo WORLD</h1>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#about">About</a></li>
    </ul>

</body>
</html>


