<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" type="text/css" href="../public/stylesheets/login.css">
</head>
<body>
       <div class="header">
        <ul>
            <li><a href="#" class="aligntextleft">NFL Tracker</a></li>
            <li><a href="#" class="aligntextright">Home</a></li>
            <li><a href="/login" class="aligntextright">Log In</a></li>
            <li><a href="#about" class="aligntextright">About</a></li>
        </ul>
    </div>

<form action= "/" method="POST">
    <h1>{{error}}</h1>
    <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <form action="../routes/create_account.js">
            <button type="submit" id = "CreateAccount">Login</button>
        </form>
     

    </div>

    <footer>
        <p>Don't have an account? <a href="/create_account">Create Account</a></p>
    </footer>
</form>

</body>
</html>