body {
    margin: 0;
    padding: 0;
    height:100%;
    font: 14px sans-serif;
    width: 100%;
  }

  
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(71, 69, 69);
    overflow: hidden;
}


 
  
li a {
    display: block;
    padding: 15px;
    background-color: rgb(71, 69, 69);
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.aligntextleft{
    float: left;
}
.aligntextright{
    float: right;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 53px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  #main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 0px;
  }

h1{
    font-size:20px;
  }

.player_card{
  margin-left: 20px;
  height:400px;
  width: 250px;
  border-radius:20px;
  border: 2px solid black;
  justify-content: center;
  align-content: center;
  display:inline-block;
  background-color: #818181;
  position:relative;
  margin:auto;
}

.player_card img{
  justify-content: center;
  align-items: center;
  width:150px;
  height:125px;

}