body {
    margin: 0;
    padding: 0;
    height:100%;
    font: 14px sans-serif;
    width: 100%;
    background: rgb(75, 74, 74);
  }

  
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(71, 69, 69);
    overflow: hidden;
}

 
  
li a {
    display: block;
    padding: 15px;
    background-color: rgb(71, 69, 69);
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.aligntextleft{
    float: left;
}
.aligntextright{
    float: right;
}

.form-container{
    text-align: center;
    height:420px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}

form{
    justify-content: center;
    align-content: center;
    height:420px;
    width: 320px;
    background-color: aliceblue;
    
}

.form-container ul{
    background-color: aliceblue;

}

.form-container p a{
    background-color: aliceblue;
    color:black;
}

.form-container input{
    text-align: center;
}

.form-container ul li button{
    height: 30px;
    width: 75px;
}


.form-container li{
    padding: 6px;
}